#navigation{
  #main-menu{
    ul{
      z-index: 9999;
      li{
        padding: 0px;
      }
    }
    &>ul{
      display: table;
      padding-bottom: 0px;
      margin-bottom: 0px;
      text-align: center;
      &>li{
        display: inline-block;
        float: left;
        color: $color12;
        font-weight: 500;
        position: relative;
        a{
          color: $color12;
          display: inline-block;
          font-weight: 500;
          padding-bottom: 17px;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 15px;
          text-decoration-color: currentcolor;
          text-decoration-line: none;
          text-decoration-style: solid;
        }
        &:hover{
          a{
            background-color: #f9f9f9;
          }
          &>ul{
            display: block;

          }
        }
        &>ul{
          background-color: $color6;
          display: none;
          width: 300px;
          position: absolute;
          top: 100%;
          left: 0px;
          &>li{
            a{
              padding-bottom: 5px;
              padding-top: 5px;
            }
          }
        }
        &.mega{
          &>ul{
            width: 400px;
            &>li{
              display: block;
              float: left;
              width: 33.3333%;
            }
          }
        }
      }
    }
  }
}

@include bp(max-width,$bp-tablet) {
  #main-menu .menu a.active-trail{
    background: transparent !important;
  }
  #navigation #main-menu >ul{
    &>li{
      border-bottom: 1px solid $color3;
      display: block;
      width: 100%;
      text-align: left;
      margin-left: 0px;
      position: relative;
      a{
        color: $color3;
        display: inline-block;
      }
      &:hover{
        a{
          background-color: transparent;
        }
      }
      .fa{
        position: absolute;
        right: 5px;
        top: 10px;
        color: $color3;
        padding: 10px;
      }
      &>ul{
        position: inherit;
        background-color: $color1;
        width: 100%;
      }
      &.mega{
        &>ul{
          width: 100%;
          &>li{
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}