.page-node-28{
  .node-page{
    .field-name-body{
      .field-item{
        &>h3{
          overflow: hidden;
          text-align: center;
          margin-bottom: 30px;
          &:before,&:after{
            background-color: $color4;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
          }
          &:before{
            right: 0.5em;
            margin-left: -50%;
          }
          &:after{

            left: 0.5em;
            margin-right: -50%;
          }
        }
      }
    }
  }

  #block-views-special-product-block,#block-views-projects-block-1,#partner{
    display: block;
    margin-top: 50px;
    width: 100%;
    .title{
      overflow: hidden;
      text-align: center;
      margin-bottom: 30px;
      font-size: 24px;
      display: block;
      &:before,&:after{
        background-color: $color4;
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
      }
      &:before{
        right: 0.5em;
        margin-left: -50%;
      }
      &:after{

        left: 0.5em;
        margin-right: -50%;
      }
    }
  }
  #block-views-special-product-block{

    display: table;
  }
  #block-views-projects-block-1{
    display: block;
    .content{
      max-width: 100%;

      .view-projects{
        width: 100%;
        .view-content{
          width: 100%;
          display: block;
          .views-field-field-image{
            img{
              width: 100%;
            }
          }
          .views-field-field-customer-reviews{
            color: $color7;
            padding-bottom: 20px;
            .field-content{
              &:after,&:before{
                content: '"';
              }
            }
          }
          .views-field-field-customer{
            font-style: italic;
          }
        }
      }
    }
  }
  .field-collection-container{
    display: none;
  }
  .why-use-us{
    margin-top: 50px;
    display: block;
    color: $color3;
    div.title{
      font-size: 20px;
      padding: 20px;
    }
    .product_title{
      font-size: 20px;
      font-weight: bold;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}