.node-type-set-product{
  .node-set-product{
    .carousel-prev,.carousel-next{
        display: none;
    }
    .field-slideshow-carousel-wrapper{
      padding-top: 15px;
    }
    .content-title{
      font-size: 24px;
      font-weight: 500;
      border-bottom: 1px solid $color9;
      padding-bottom: 10px;
    }
    .product-info.model{
      display: block;
      padding-bottom: 10px;
    }

    .btn-send-request{
      text-align: center;
      display: block;
      padding-top: 15px;
      padding-bottom: 15px;
      a{
        padding: 10px 30px;
        display: inline-block;
        background-color: $color10;
        color: $color3;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .field-name-field-product-kit{
      margin-top: 50px;
      text-align: center;
      .field-name-uc-product-image{
        img{
          max-height: 50px;
          width: auto;
        }

      }
      .field-label{
        display: inline-block;
        vertical-align: baseline;
        zoom: 1;
        position: relative;
        padding: 0 10px;
        font-weight: bold;
        margin-bottom: 20px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          top: 0.73em;
          border-top: 1px solid #dfdfdf;
          right: 100%;
        }
        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 0.73em;
          border-top: 1px solid #dfdfdf;
          left: 100%;
        }
      }
      td{
        vertical-align: middle;
        text-align: left;
      }
    }
  }
}