.page-node-32{
  .region-home-banner{

    position: relative;
    #block-webform-client-block-33{
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: $color3;
      padding: 15px;
      max-width: 25%;
      input{
        border: 1px solid $color2;
      }
      .title{
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 20px;
      }
    }
    .captions{
      position: absolute;
      left: 5%;
      top: 20%;
      .views-field-field-caption{
        font-size: 35px;
        text-transform: uppercase;
        color: $color3;
      }
      .views-field-field-subcaption{
        font-size: 21px;
        color: $color3;
        text-align: center;
      }
    }
    .form-submit{
      color: $color3;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .field-collection-view{
    border-bottom: 0px;
    margin-bottom: 15px;
  }

  .field-name-field-process{
    .field-label{
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      display: block;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .field-item{
      .entity-field-collection-item{
        .field-name-field-image{
          width: 50%;

          img{
            max-width: 50%;
            border-radius: 50%;
          }
        }
        .group-text{
          width: 50%;
          .field-name-field-caption{
            font-weight: bold;
            font-size: 20px;
            padding-bottom: 15px;
            margin-top: 30px;
          }
        }
      }
      &.even{
        .field-name-field-image{
          float: left;
          text-align: right;
          padding-right: 20px;
        }
        .group-text{
          float: right;
        }
      }
      &.odd{
        .field-name-field-image{
          float: right;
          text-align: left;
        }
        .group-text{
          float: left;
          text-align: right;
        }
      }
    }
  }

  #block-views-testimonials-block-1{
    .title{
      text-align: center;
      display: block;
      margin: 60px 0 40px 0;
      font-size: 24px;
    }
    .view-header{
      text-align: center;
      p{
        line-height: 24px;

      }
    }
    .views-row{
      margin-top: 100px;
      padding-bottom: 100px;
      .info{
        margin: auto;
        max-width: 430px;
        text-align: center;
        min-height: 200px;
        display: block;
        position: relative;
        background-color: $color8;
        padding-top: 100px;
        color: $color3;
        .views-field-field-image{
          img{
            position: absolute;
            top: -30%;
            max-width: 150px;
            border-radius: 50%;
            left: 50%;
            transform: translate(-50%, 0);
          }
        }
        .views-field-title{
          text-transform: uppercase;
          font-size: 16px;
        }
        .views-field-field-subcaption{
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          margin-top: 20px;
        }

      }
      .views-field-field-images{
        margin:auto;
        box-shadow:0 0 100px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:0 0 100px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow:0 0 100px rgba(0, 0, 0, 0.2);
        ol{
          padding-left: 0px;
          display: table;
          li{
            display: table-cell;
            width: 50%;
            border-top: 8px solid #fff;
            border-bottom: 8px solid #fff;
            border-left: 8px solid #fff;
            border-right: 4px solid #fff;
          }
        }
      }
      .views-field-body{
        text-align: center;
        padding-top: 30px;
        font-style: italic;
        .field-content{
          &:after,&:before{
            content: '"';
          }
        }
      }
    }
  }
}