body.views--products-list--page-2,
body.views--products-list--page-1{
  .page-title{
    .container{
      border-bottom: 1px solid #ccc;
    }
    padding: 20px 0;
    h1.title{
      text-align: center;
      color: $color7;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 15px;
      padding-bottom: 3px;
      margin-top: 0px;
      text-transform: uppercase
    }
  }
  .view-products-list{
    position: relative;
    .views-row{
      margin-bottom: 30px;
      .row-content{
        padding: 5px;
        border: 1px solid transparent;
        &:hover{
          border: 1px solid $color2;
        }
      }
      .views-field-title{
        padding-top: 5px;
        padding-left: 15px;
        h4{
          font-size: 14px;
        }
      }
      .views-field-sell-price{
        padding-left: 15px;
        .uc-price{
          color: $color1;
          font-weight: bold;
        }
      }

    }

    .view-header{
      position: absolute;
      right: 15px;
      top: 20px;
    }
  }
  .views-exposed-form{
    padding-bottom: 20px;
    select{
      border-right:none;
      border-top:none;
      border-left:none;
      border-bottom: 1px solid $color4;
      border-radius: 0px;
      line-height: 30px;
      padding: 5px 10px;
      background-color: $color3;
    }
    #edit-submit-products-list{
      display: none;
    }

  }
  .ajax-progress {
    background-position-x: center;
    background-position-y: center;
    display: block;
    height: 100vh;
    width: 100vw;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    background: url('../images/loading.gif') no-repeat center rgba(0,0,0,0.0);
  }
}