.footer {
  background-color: $color9;
  border-top: 1px solid #ccc;
  clear: both;
  padding-top: 30px;
  width: 100%;
  margin-top: 65px;
}
.footer-address{
  p{
    color: #959595;
    font-size: 12px;
    font-weight: 100;
  }
}