header{
  .container-top{
    width: 980px;
  }
}
#header-top{
  background-color: $color1;
  height: 56px;
  i{
    color: $color3;
  }
  .block-logo{
    a{
      display: inline-block;
      position: relative;
      width: 60%;
      img{
        margin-top: 6px;
      }
    }
  }
}