$color1: #2e2e2e;
$color2: #e8e8e8;
$color3: #ffffff;
$color4: #dfdfdf;
$color5: #2b2b2b;
$color6: #f9f9f9;
$color7: #2e2e2e;
$color8: #b7b7b7;
$color9: #ebebeb;
$color10: #f66401;
$color11: #CCC;
$color12: #000000;


/* Break point */
$bp-small: 480px;
$bp-mobile: 767px;
$bp-tablet: 767px;
$bp-laptop: 1279px;
$bp-desktop: 1399px;

