/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
/*global*/
body.html {
  font-family: 'Montserrat', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

ul.menu {
  padding-left: 0px; }
  ul.menu li {
    list-style: none; }

#header-top {
  background-color: #00beb4;
  height: 56px; }
  #header-top i {
    color: #ffffff; }
  #header-top .block-logo a {
    display: inline-block;
    position: relative;
    width: 60%; }
    #header-top .block-logo a img {
      margin-top: 6px; }

/*components*/
.block-uc-cart {
  height: 56px;
  position: relative;
  position: relative; }
  .block-uc-cart .title a {
    display: block;
    text-align: center; }
    .block-uc-cart .title a .fa {
      color: #ffffff;
      font-size: 18px; }
  .block-uc-cart .title .cart-block-title-bar {
    font-size: 14px;
    font-weight: 500;
    padding-right: 0px;
    text-align: center;
    display: block;
    color: #ffffff; }
    .block-uc-cart .title .cart-block-title-bar .cart-block-arrow {
      display: none; }
  .block-uc-cart:hover .content {
    display: block; }
  .block-uc-cart .content {
    display: none;
    border: 1px solid #e8e8e8;
    background-color: white;
    width: 320px;
    position: absolute;
    right: 0px;
    top: 100%; }
    .block-uc-cart .content.collapsed {
      display: block; }
    .block-uc-cart .content .cart-block-items {
      border-bottom: 1px solid #e8e8e8;
      padding: 10px; }
      .block-uc-cart .content .cart-block-items td {
        padding: 10px; }
    .block-uc-cart .content .cart-block-summary {
      width: 100%; }
      .block-uc-cart .content .cart-block-summary td {
        padding: 10px; }
      .block-uc-cart .content .cart-block-summary .cart-block-summary-links .links li {
        display: inline-block; }

.block-menu-user {
  cursor: pointer;
  position: relative;
  border-right: 1px solid #e8e8e8;
  height: 56px; }
  .block-menu-user .fa {
    line-height: 56px; }
  .block-menu-user .content {
    display: none;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    position: absolute;
    width: 258px;
    z-index: 9999; }
    .block-menu-user .content ul li {
      padding: 10px; }
  .block-menu-user:hover .fa {
    color: white; }
  .block-menu-user:hover .content {
    display: block; }

.block-top-phone {
  border-right: 1px solid #e8e8e8;
  height: 56px; }
  .block-top-phone .content {
    color: #ffffff; }
    .block-top-phone .content .fa {
      line-height: 56px; }

.block-search {
  border-right: 1px solid #e8e8e8;
  height: 56px;
  position: relative; }
  .block-search .fa {
    line-height: 56px;
    cursor: pointer; }
  .block-search .content {
    margin-top: 10px;
    padding-left: 10px;
    width: 350px;
    display: none;
    position: absolute;
    right: calc(100% + 15px);
    top: 0px;
    z-index: 9999;
    background-color: #ffffff; }
    .block-search .content .container-inline {
      display: table;
      width: 100%; }
      .block-search .content .container-inline > div {
        display: table-cell;
        vertical-align: middle; }
  .block-search .form-submit {
    background: #dfdfdf none repeat scroll 0 0;
    background-image: none;
    border: none;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 0px;
    width: 100%;
    font-size: 12px;
    font-style: italic;
    color: #00beb4; }
    .block-search .form-submit:hover {
      background: #dfdfdf none repeat scroll 0 0; }

.form-submit {
  background: #dfdfdf none repeat scroll 0 0;
  background-image: none;
  border: none;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  width: 100%; }

.form-text {
  background-color: #fff;
  background-image: none;
  border: none;
  color: #555;
  display: block;
  font-size: 14px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%; }

.main-slider .slick-next {
  right: 25px;
  z-index: 10;
  color: #dfdfdf; }
.main-slider .slick-prev {
  left: 25px;
  z-index: 10; }
.main-slider .slick-next:before, .main-slider .slick-prev:before {
  color: #00beb4;
  font-size: 25px; }

#navigation #main-menu ul {
  z-index: 9999; }
  #navigation #main-menu ul li {
    padding: 0px; }
#navigation #main-menu > ul {
  display: table;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center; }
  #navigation #main-menu > ul > li {
    display: inline-block;
    float: left;
    color: #2b2b2b;
    font-weight: 500;
    position: relative; }
    #navigation #main-menu > ul > li a {
      color: #2b2b2b;
      display: inline-block;
      font-weight: 500;
      padding-bottom: 17px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      text-decoration-color: currentcolor;
      text-decoration-line: none;
      text-decoration-style: solid; }
    #navigation #main-menu > ul > li:hover > ul {
      display: block; }
    #navigation #main-menu > ul > li > ul {
      background-color: #f9f9f9;
      display: none;
      width: 300px;
      position: absolute;
      top: 100%;
      left: 0px; }
    #navigation #main-menu > ul > li.mega > ul {
      width: 400px; }
      #navigation #main-menu > ul > li.mega > ul > li {
        display: block;
        float: left;
        width: 33.3333%; }

/*# sourceMappingURL=style.css.map */
